.newHome {
  background-color: #212124;
  height: 100vh;
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .middle {
    width: 100%;
  }
  .bottom {
    width: 100%;
  }
}
