.forecast {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  padding: 20px;
  .title {
    color: white;
    font-size: 40px;
    font-weight: 300;
  }
  .time {
    color: grey;
    font-weight: 300;
    font-size: 25px;
  }
  .forecastType {
    color: grey;
    font-weight: 300;
    font-size: 25px;
  }
}
