.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid lightgrey;
  .searchBar {
    display: flex;
    flex-direction: column;
    position: relative;
    .bar {
    }
    .list {
      position: absolute;
      top: 30px;
    }
  }
}
