.current {
  padding: 25px;
  .currentTop {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .icon {
      img {
        height: 100px;
        width: 100px;
        object-fit: cover;
      }
    }
    .temperature {
      .currentTempText {
        font-size: 80px;
        color: white;
      }
    }
    .degrees {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      color: white;
      p {
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  .currentBottom {
    .currentBottomText {
      color: #929299;
      font-weight: 300;
      font-size: 15px;
    }
  }
}
